In [19]:
class vehicle:
    def __init__(self,p,pr,c,e):
         self.plate=p
         self.price=pr
         self.colour=c
         self.engine=e

class car(vehicle):
    def __init__(self,t,passenger,s,p,pr,c,e):
         self.type=t
         self.passenger=passenger
         self.speed=s
         super().__init__(p,pr,c,e)


class truck(vehicle):
    def __init__(self,ax,lc,p,pr,c,e):
         self.axle=ax
         self.load_capacity=lc
         super().__init__(p,pr,c,e)
        
y=car("TOYOTA","5","140","IND123-34","4,08,000","RED","32.5CC")
z=truck("4 axle","14TON","MH09CU7775","44LACK","BLACK","958CC")


print("car having:",y.type,y.passenger,y.speed,y.plate,y.price,y.colour,y.engine)
print("truck having:",z.axle,z.load_capacity,z.plate,z.price,z.colour,z.engine)

car having: TOYOTA 5 140 IND123-34 4,08,000 RED 32.5CC
truck having: 4 axle 14TON MH09CU7775 44LACK BLACK 958CC

In [34]:
class employee:
    def __init__(self,emp_id,emp_name,emp_salary):
         self.emp_id=emp_id
         self.emp_name=emp_name
         self.emp_salary=emp_salary

class staff(employee):
    def __init__(self,wt,wa,emp_id,emp_name,emp_salary):
         self.wt=wt
         self.wa=wa
         super().__init__(emp_id,emp_name,emp_salary)

class developer(employee):
    def __init__(self,module,tech,experience,emp_id,emp_name,emp_salary):
        self.module=module
        self.tech=tech
        self.experience=experience
        super().__init__(emp_id,emp_name,emp_salary)

class manager(employee):
    def __init__(self,project,client_name,emp_id,emp_name,emp_salary):
        self.project=project
        self.client_name=client_name
        super().__init__(emp_id,emp_name,emp_salary)
        

a=staff("cs","hospet",111,"sonu",100000)
b=developer("abcd","innovation and design","35yrs",95,"sneha",200000)
c=manager("html","xyz",85,"tabbu",3000000)


print("staff details:",a.wt,a.wa,a.emp_id,a.emp_name,a.emp_salary)
print("developer details:",b.module,b.tech,b.experience,b.emp_id,b.emp_name,b.emp_salary)
print("manager details:",c.project,c.client_name,c.emp_id,c.emp_name,c.emp_salary)

staff details: cs hospet 111 sonu 100000
developer details: abcd innovation and design 35yrs 95 sneha 200000
manager details: html xyz 85 tabbu 3000000

In [59]:
for i in range(0,5):
    for j in range(0,i+1):
        print("*",end="")
    print()
#i

*
**
***
****
*****

In [60]:
for i in range(0,i-1):
    for j in range(0,6):
        print("*",end="")
    print()

******
******
******

In [62]:
for i in range(5,0,-1):
    for j in range(0,i):
        print("*",end="")
    print()

*****
****
***
**
*

In [123]:
for i in range(5,0,-1):
    for j in range(0,i):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [82]:
for i in range(0,j-1):
    for j in range(0,5):
        print("*",end="")
    print()

*****
*****
*****
*****
*****
*****
*****
*****

In [112]:
row=5
for i in range(row + 1,0,-1):
    for j in range(0,i-1):
      print("*",end="")
    print()

*****
****
***
**
*

In [4]:
def square_hollow_pattern(size):
    for i in range(size):
        for j in range(size):
            if i == 0 or i == size - 1 or j == 0 or j == size - 1:
                print("*", end=" ")
            else:
                print(" ", end=" ")
        print()

size = 5  # Adjust the size as needed
square_hollow_pattern(size)

* * * * *
*       *
*       *
*       *
* * * * *

In [5]:
def number_triangle(rows):
    num = 1
    for i in range(1, rows + 1):
        for j in range(1, i + 1):
            print(num, end=" ")
            num += 1
        print()

rows = 5
number_triangle(rows)

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [6]:
def zero_one_triangle(rows):
    for i in range(1, rows + 1):
        for j in range(1, i + 1):
            
            if (i + j) % 2 == 0:
                print("1", end=" ")
            else:
                print("0", end=" ")
        print()

rows = 5
zero_one_triangle(rows)

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [23]:
def rhombus_pattern(rows):
    
    for i in range(1, rows + 1):
        
        for j in range(rows - i):
            print(" ", end="")
        
        for k in range(i):
            print("*", end=" ")
        print()
    
    
    for i in range(rows - 1,0,-1):
        
        for j in range(rows - i):
            print(" ", end="")
        
        for k in range(i):
            print("*", end=" ")
        print()

rows = 5
rhombus_pattern(rows)

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *